DATABASE_URL=postgresql://ghs:ghs_dev_password@localhost:5433/ghs_hackathon
JWT_SECRET=put-a-long-random-string-here
NODE_ENV=development
PORT=4000

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=KNS and SLGS AI Innovation Bootcamp & Challenge
